body {
  display: grid;
  grid-template-rows: 0.05fr 0.9fr 0.05fr;
  justify-items: center;
  align-content: center;
  background-color: rgb(245, 245, 245);
  background-image: url("https://images.unsplash.com/photo-1509005338684-c2fb376b91cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  backdrop-filter: blur(1.3rem);
}
.login-nav {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #000021;
  color: white;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.login {
  margin: 0.5rem;
  margin-bottom: 18rem;
  border-radius: 5px;
  border: 1px solid rgb(256, 256, 256);
  grid-template-rows: 0.05fr 0.9fr 0.05fr;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  font-family: arial;
  width: 80vw;
  height: 60vh;
}

.login label {
  font-weight: 200;
  margin: 1.2rem 0rem;
  font-size: 2rem;
}

.login input {
  min-height: 5rem;
  font-size: 2rem;
  background-color: inherit;
}

.login-btns {
  height: 7rem;
  font-size: 2rem;
  background-color: rgb(44, 121, 229);
  color: white;
  border-radius: 8rem;
  cursor: pointer;
}

.login-btns:hover {
  background-color: rgb(46, 115, 219);
}

.login small {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0rem;
}

.console-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100%;
}

.profile-container {
  width: 80%;
  height: 50vh;
  justify-self: center;
  display: grid;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 50px 10px rgb(235,235,235,1);
  border: rgb(214, 214, 214) solid 1px;
  border-radius: 0.3rem;
}

.demo-sites-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 85%;
  margin: 0 1rem;
  font-weight: 400;
  text-align: center;
  background-color: aliceblue;
}

.demo-sites-container {
  display: grid;
  grid-template-rows: 0.1fr 0.9fr;
  height: 100%;
}

.demo-sites {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  overflow-y: scroll;
  margin: 1rem;
  height: 100%;
}

.demo-sites a {
  font-weight: 150;
  color: white;
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: rgb(44, 115, 219);
  border: 1px solid rgb(214,214,214);
  text-align: center;
}

.demo-sites a:hover {
  cursor: pointer;
  background-color: rgb(46, 121, 229);
}

.parent-input-container{
  display: grid;
  grid-template-rows: 0.9fr 0.9fr 0.9fr 0.9fr 0.9fr 0.5fr;
  row-gap: 1rem;
  width: 100%;
}

.input-container {
  display: flex;
  height: 1.5rem;
  width: 100%;
}

.profile-image {
 display: grid;
 grid-template-rows: 0.9fr 0.1fr;
}

.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 8rem;
  height: 1.5rem;
  font-size: 0.9rem;
  font-weight: 250;
  background-color: rgb(44, 115, 219);
  border: 1px solid rgb(214,214,214);
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}

.save-btn:hover {
  background-color: rgb(46, 121, 229);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: royalblue;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .2);
}
::-webkit-scrollbar{
  background-color: #000;
  -webkit-appearance: none;
  width: 9px;
}

@media screen and (min-device-width: 400px) {
  .login {
     height: 65vh;
   }
   .login-btns {
    height: 6rem;
    font-size: 1.7rem;
    background-color: rgb(44, 121, 229);
    color: white;
    border-radius: 8rem;
  }
}
@media screen and (min-device-width: 550px) {
 .login {
    width: 45vw;
    height: 70vh;
  }
  .login label {
    font-weight: 200;
    margin: 1.2rem 0rem;
    font-size: 1.5rem;
  }
  .login input {
    min-height: 4rem;
    font-size: 1.8rem;
  }
  .login-btns {
    height: 3rem;
    font-size: 1rem;
  }
  .login small {
    text-align: center;
    font-size: 0.9rem;
    margin: 2rem 0rem;
  }
  .profile-container {
    height: 65vh;
  }
  .input-container {
    display: flex;
    height: 1.8rem;
    width: 95%;
  }
}

@media screen and (min-device-width: 650px) {
  .login {
    width: 45vw;
  }
  .login label {
    font-weight: 200;
    margin: 1.2rem 0rem;
    font-size: 1.5rem;
  }
  .login input {
    min-height: 3rem;
    font-size: 1rem;
  }
  .login-btns {
    height: 3rem;
    font-size: 1rem;
  }
  .console-container {
    margin: 1rem;
    margin-bottom: 5rem;
    grid-template-columns: 0.7fr 0.3fr;
    height:100%;
    width: 100%;
  }
  .profile-container {
    grid-template-columns: 0.7fr 0.3fr;
    width: 55%;
    height: 100%;
  }
  .demo-sites a {
    font-weight: 250;
    font-size: 0.8rem;
  }
  .input-container {
    width: 80%;
  }
}

@media screen and (min-device-width: 800px) {
  .login {
    width: 40vw;
    height: 38rem;
  }
  .login label {
    font-weight: 200;
    margin:0;
    margin-top: 0.8rem;
    font-size: 1rem;
  }
  .login input {
    height: 2rem;
    font-size: 1.3rem;
  }
  .login-btns {
    height: 2.8rem;
    font-size: 0.8rem;
  }
  .login small {
    text-align: center;
    font-size: 0.9rem;
    margin: 1rem 0rem;
  }
  .demo-sites a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 250;
    font-size: 1rem;
  }
}

@media screen and (min-device-width: 950px) {
  .login label {
    font-weight: 400;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .login input {
    min-height: 2.7rem;
    font-size: 0.8rem;
  }
  .login {
    width: 30vw;
  }
}

@media screen and (min-device-width: 1050px) {
  .login {
    width: 30vw;
  }
}
