.details-container {
  margin-top: 13vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.postal-container {
  margin: auto;
  border-radius: 0.4rem;
  width: 80vw;
  justify-items: center;
}

.postal-container input, .postal-container textarea, .postal-container select{
  border-radius: 5px;
  padding: 0rem 0rem 0rem 0.5rem;
  max-height: 180px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 78vw;
  font-size: 2rem;
  min-height: 4rem;
  background-color: inherit;
  border: 1px solid rgb(214,214,214);
}

.postal-container h2 {
  font-size: 2rem;
  margin: 0.3rem;
  width: 40vw;
  font-weight: 650;
  color: rgb(73, 73, 73);
}

.postal-container .postal-input {
  width: 38vw;
}

.payment-container {
  margin: auto;
}

.payment-container button {
  background-color: rgb(44, 115, 219);
  border: 1px solid rgb(214,214,214);
  color: white;
  font-weight: 300;
  font-size: 3rem;
  border-radius: 0.3rem;
  width: 78vw;
  height: 6vh;
  margin: 2rem;
  margin-top:1rem;
  padding: 0.6rem;
  cursor: pointer;
}

.payment-container button:hover {
  cursor: pointer;
  background-color: rgb(46, 121, 229);
}
.process-container {
  position: relative;
  margin-top: 5rem;
}
.empty-notification {
  font-size: 2.2rem;
  padding: 0.5rem;
  text-align: center;
  color: rgb(46, 121, 229);
  border: 1px solid rgb(214,214,214);
}

@media screen and (min-device-width: 500px) {
}

@media screen and (min-device-width: 800px) {
  .details-container {
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    margin-top: 18vh;
  }
  .payment-container button {
    font-weight: 250;
    font-size: 1rem;
    border-radius: 0.3rem;
    width: 13vw;
    height: auto;
    margin-left: 5rem;
    padding: 0.6rem;
  }

  .process-container {
    position: relative;
    margin-top: 5rem;
  }
  .empty-notification {
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(46, 121, 229);
    border: 1px solid rgb(214,214,214);
  }

  .postal-container {
    width: 45vw;
  }
  .postal-container input, .postal-container select,  .postal-container textarea{
    width: 40vw;
    min-height: 2rem;
    font-size: 1rem;
  }
  .postal-container .postal-input {
    width: 17.5vw;
  }
  .postal-container textarea {
    min-height: 5rem;
  }
  .postal-container h2 {
    font-size: 1.3rem;
  }
}

@media screen and (min-device-width: 1200px) {
}